<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% include 'html/head.html'%}
    <title>DPen</title>
</head>
<body class="{{getTheme()}}">
    {% include 'html/navigation.html'%}
</body>
</html>