<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% include 'html/head.html'%}
    <title>Liste des cours de {{matiere.capitalize()}}</title>
</head>
<body class="{{getTheme()}}">
    {% include 'html/navigation.html'%}
   <div class="container">
       <input placeholder="Rechercher un cours" type="text" id="search" onkeyup="search()">
       <h1>Liste des cours de {{matiere.capitalize()}}</h1>
       <ul id="cours">
        {% for cours in coursList %}
            <li><a href="{{url_for('cours',matiere=matiere,cours=cours.replace('.html',''))}}"><h3>{{cours.capitalize().replace(".html","")}}</h3></a></li>
        {% endfor %}
       </p>
        
   </div>
    
   <script>
        function search() {
            // Declare variables
            var input, filter, ul, li, a, i;
            input = document.getElementById('search');
            filter = input.value.toUpperCase();
            ul = document.getElementById("cours");
            li = ul.getElementsByTagName('li');
        
            // Loop through all list items, and hide those who don't match the search query
            for (i = 0; i < li.length; i++) {
                a = li[i].getElementsByTagName("a")[0];
                if (a.innerHTML.toUpperCase().indexOf(filter) > -1) {
                    li[i].style.display = "";
                } else {
                    li[i].style.display = "none";
                }
            }
        }
   </script>
</body>
</html>