<!-- Modal Structure -->
<div id="modal1" class="modal">
        <form id="optionForm" method="post">
                <div class="modal-content">
                    <div class="row">
                        <label class="col s2">
                            <input type="checkbox" name="theme" {{checked}}>
                            <span>Dark Theme</span>
                        </label>
                        <label class="col hide-on-med-and-down s6">
                            <input type="checkbox" name="hack" />
                            <span>Active Ti-82</span>
                        </label>
                    </div> <br>
                    <div class="row input-field">
                        <select name="color">
                                <option value="blue">Bleu</option>
                                <option value="red">Rouge</option>
                                <option value="green">Vert</option>
                        </select>
                        <label>Choisissez une couleur</label>
                    </div>
          
                </div>
                <div class="modal-footer">
                      <input id="option" type="submit" class="btn-flat" value="Mettre a jour les options">
                </div>
        </form>
</div>

<script>
    $("#option").click(function() {
        var url = "{{url_for('option')}}"; // the script where you handle the form input.
        $('#modal1').modal('close');
        $.ajax({
               type: "POST",
               url: url,
               data: $("#optionForm").serialize(), // serializes the form's elements.
               success: function(data)
               {
                   console.log($("#optionForm").serialize())
               }
             });
    
        return false; // avoid to execute the actual submit of the form.
    });
</script>