<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% include 'html/head.html'%}
    <title>{{cours.capitalize()}}</title>
</head>
{% if 'hack' in session and session['hack'] == "on" %}
    {% set hack = "on"%}
{% endif %}
<body class="{{getTheme()}}">

        {% include 'html/navigation.html'%}

    <div class="container">
        {% include 'cours/{}/{}.html'.format(matiere,cours)%}
    </div>
    
</body>
</html>