{% if 'color' in session %}
  {% set color = session['color']%}
{% else %}
  {% set color = "blue"%}
{% endif %}
<!-- Dropdown Structure -->
<ul id="dropdown-laptop" class="dropdown-content">
    {% for matiere in matiereList() %}
    <li><a href={{url_for('listCours',matiere=matiere)}}>{{matiere.capitalize()}}</a></li>
    {% endfor %}
</ul>

<ul id="dropdown-mobile" class="dropdown-content">
  {% for matiere in matiereList() %}
  <li><a href={{url_for('listCours',matiere=matiere)}}>{{matiere.capitalize()}}</a></li>
  {% endfor %}
</ul>

{% include "./utils/option.html" %}

      <nav class="row hide-on-med-and-down">
        <div class="nav-wrapper {{getColor()}}">
          <a href="{{url_for('index')}}" class="brand-logo">Logo</a>
          <ul class="right">
            <!-- Dropdown Trigger -->
            <li><a class="dropdown-trigger" href="#!" data-target="dropdown-laptop">Apprendre<i class="material-icons right">arrow_drop_down</i></a></li>
            <li> <a class="modal-trigger" href="#modal1">Options</a></li>
          </ul>
        </div>
      </nav>

      <ul id="slide-out" class="sidenav {{getColor()}}">
        <li><a class="dropdown-trigger" href="#!" data-target="dropdown-mobile">Apprendre<i class="material-icons right">arrow_drop_down</i></a></li>
        <li> <a class="modal-trigger" href="#modal1">Options</a></li>
      </ul>
      <a href="#" data-target="slide-out" class="sidenav-trigger hide-on-large-only"><i class="material-icons">menu</i></a>
            

      <script>

        $(".dropdown-trigger").dropdown();
        $(document).ready(function(){
            $('.modal').modal();
          });
          $(document).ready(function(){
            $('select').formSelect();
          });

          $(document).ready(function(){
            $('.sidenav').sidenav();
          });
        
      </script>
              